body {
    font-family: Verdana, Arial, Sans-Serif;
    background-color: #003366;
    font-size: 2em;
}

#main {
    width: 760px;
    margin: 0 auto;
    text-align: center;
}

ol {
    list-style-type: none;
    position: relative;
    list-style-position: outside;
    margin: 0px auto;
    padding: 0;
}

ol li {
    position: relative;
    background: #F3F3F3;
    border-radius: 10px;
    border: 2px solid black;
    margin: 0px auto;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0.25em;
    width: 640px;
    /*height: 30px;*/
    font-family: Verdana, Arial, Sans-Serif;
    vertical-align: middle;
}

ol .active {
    background: #F39814; color: white;
}

button {
    font-size: .65em;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.initdex {
    float: right;
    position: relative;
    top: +2px;
    text-align: center;
}

.charControls {
    float: right;
}

#addChar {
    display: block;
    font-family: Verdana, Arial, Sans-Serif;
    background: #F3F3F3;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 0;
    font-size: 1em;
    width: 520px;
}

.inputLabel {
    position: absolute;
    font-size: 50%;
    top: -8px;
}

input[type=number] {
    width: 35px;
    height: 20px;
    padding: 0;
    margin: 2px;
    font-size: .5em;
}

input[type=text] {
    height: 25px;
    padding: 0;
    margin: 0;
    font-size: .6em;
    vertical-align: middle;
    position: relative;
    top: -2px;
    text-transform: capitalize;
}

input[name=charName] {
    text-transform: capitalize;
}

.init,.dex {
    position: relative;
    left: -6px;
}

#queue {
    margin: 10px;
    display: inline-block;
    font-family: Verdana, Arial, Sans-Serif;
    background: #9B9B9B;
    border-radius: 10px;
    border: 2px solid black;
    margin: 6px;
    padding: 20px;
    width: 680px;
}

#directions {
    font-size: .5em;
    text-align: left;
    margin: 10px;
    display: inline-block;
    font-family: Verdana, Arial, Sans-Serif;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid black;
    margin: 6px;
    padding: 0;
    width: 520px;
}

#dirlist {
    list-style-position: outside;
    margin: .5em;
}

#title {
    color: white;
    font-size: 2em;
    letter-spacing: .4em;
    text-align: center;
    margin: 0 auto;
    position: relative;
    left: +.2em;
}

#spacer {
    height: 1em;
}
