body {
    font-family: Verdana, Arial, Sans-Serif;
    background-color: #003366;
    font-size: 2em;
}

.main {
    margin: 0 auto;
    text-align: center;
}

.title {
    color: white;
    font-size: 2em;
    letter-spacing: .4em;
    text-align: center;
    margin: 0 auto;
    position: relative;
    left: +.2em;
}

.addCharContainer {
    display: block;
    font-family: Verdana, Arial, Sans-Serif;
    background: #F3F3F3;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 7px;
    padding-top: 2px;
    font-size: 1em;
    width: 520px;
}

.addCharForm {
    display: inline;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border: 1px solid black;
    border-radius: 5px;
}

input[type=text] {
    height: 25px;
    padding: 0;
    margin: 0;
    font-size: .6em;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.initCharContainer {
    position: relative;
    background: #F3F3F3;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0.25em;
    font-family: Verdana, Arial, Sans-Serif;
}

.active {
    background: #FF8314; color: white;
}

.charName {
    display: inline-block;
    position: relative;
}

.rollmodtotal {
    float: right;
    position: relative;
    top: -5px;
}

.labelRow {
    position: relative;
    font-size: 50%;
    left: -2px;
}

.controlRow {
    font-size: 50%;
}

.initInput {
    width: 35px;
    height: 22px;
    margin: 0 2px 0 2px;
    padding: 0;
    font-size: 1em;
    text-align: center;
}

.charControls {
    float: right;
    position: relative;
    top: -4px;
    text-align: center;
}

.controlButton {
    width: 46px;
    height: 43px;
    margin: 1px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 0 0 0 0;
    border: 1px solid black;
    border-radius: 5px;
}

.up {
    background-image: url("../img/uparrow.png");
}

.down {
    background-image: url("../img/downarrow.png");
}

.hold {
    background-image: url("../img/holdclock.png");
}

.del {
    background-image: url("../img/redx.png");
}

.pause {
    background-image: url("../img/pause.png");
}

.play {
    background-image: url("../img/play.png");
}

.initControlBar {
    position: relative;
    top: 7px;
    height: 41px;
}

.initControlButton {
    display: inline-block;
    height: 37px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

.StartStop {
    width: 65px;
}

.addButton {
    position: relative;
    top: -3px;
}

button {
    font-size: .65em;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    background: white;
}

button::-moz-focus-inner {
    border:0;
    padding:0;
}

.queue {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: Verdana, Arial, Sans-Serif;
    background: #9B9B9B;
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
    width: 60%;
    min-width: 700px;
    max-width: 896px;
    height: auto;
}

.directions, .donate {
    position: absolute;
    font-size: .5em;
    text-align: left;
    font-family: Verdana, Arial, Sans-Serif;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0;
    min-width: 120px;
    max-width: 400px;
    float: left;
    display: inline-block;
}

.directions {
    top: 90px;
    left: -10px;
    min-height: 52px;
    z-index: 2;
}

.donate {
    top: 50px;
    left: -10px;
    text-align: center;
    height: 30px;
}

.donateSubmit {
    background: #FFFFFF;
    border: 0;
    font-size: 1em;
    font-style: italic;
    position: relative;
    top: 2px;
}

.dirheader {
    text-align: center;
    font-size: 1.1em;
    padding: 10px;
    display: inline-block;
    float: right;
    position: relative;
    margin: 5px;
}

.dirlist {
    position: relative;
    left: -10px;
    top: 7px;
    margin: .5em;
    display: none;
}

.spacer {
    height: 1em;
}

.initControlSpacer {
    display: inline-block;
    width: 15px;
}

.dirimg {
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
}

.queueControlSpacer {
    height: 0;
}